<h1>Create Mirage Order</h1>

<form action="" method="post">
    <div class="container">
        <label><b>Single or Double</b>
            <select name="single_or_double" id="single_or_double">
                <option value="">1</option>
                <option value="">2</option>
            </select></label><br>

        <label><b>Mount</b>
            <select name="mount" id="mount">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select></label><br>

        <label><b>handing</b>
            <select name="handing" id="handing">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
            </select></label><br>

        <label><b>color</b>
            <select name="color" id="color">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option> 
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
                <option value="">16</option>
                <option value="">17</option>
                <option value="">18</option>
                <option value="">19</option>
                <option value="">20</option>
                <option value="">21</option>
                <option value="">22</option>
                <option value="">23</option>
                <option value="">24</option>
                <option value="">25</option>
                <option value="">26</option>
                <option value="">27</option>
            </select></label><br>

        <label><b>Pivot Pro Color</b>
            <select name="pivot_pro_color" id="pivot_pro_color">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
            </select></label><br>

        <label><b>Top Adapter</b>
            <select name="top_adapter" id="top_adapter">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
            </select></label><br>

        <label><b>Top Adapter Color</b>
            <select name="top_adapter_color" id="top_adapter_color">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
            </select></label><br>

        <label><b></b><input type="text" name="top_adapter_width_text" id="top_adapter_width_text"></label>    
        <label><b>Top Adapter Width</b>
            <select name="top_adapter_width_fraction" id="top_adapter_width_fraction">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select></label><br>

        <label><b></b><input type="text" name="opening_height_text" id="opening_height_text"></label>
        <label><b>Opening Height</b>
            <select name="opening_height_fraction" id="opening_height_fraction">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select></label><br>

        <label><b></b><input type="text" name="unit_height_text" id="unit_height_text"></label>    
        <label><b>Unit Height</b>
            <select name="unit_height_fraction" id="unit_height_fraction">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select></label><br>

        <label><b></b><input type="text" name="pivot_pro_height_text" id="pivot_pro_height_text"></label>    
        <label><b>Pivot Pro Height</b>
            <select name="pivot_pro_height_fraction" id="pivot_pro_height_fraction">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select></label><br>

        <label><b>Btm Adapter</b>
            <select name="btm_adapter" id="btm_adapter">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
            </select></label><br>

        <label><b>Btm Adapter Color</b>
            <select name="btm_adapter_color" id="btm_adapter_color">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
            </select></label><br>
            
        <label><b>Build Out</b>
            <select name="build_out" id="build_out">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
            </select></label><br>

        <label><b></b><input type="text" name="build_out_dimension_text" id="build_out_dimension_text"></label>
        <label><b>Build Out Dimension</b>
            <select name="build_out_dimension_fraction" id="build_out_dimension_fraction">
                <option value=""></option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select></label><br>

        <label><b>Mesh</b>
            <select name="mesh" id="mesh">
                <option value="">1</option>
            </select></label><br>

        <label><b>Mohair</b>
            <select name="mohair" id="mohair">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
            </select></label><br>

        <label><b>Mohair Position</b>
            <select name="mohair_position" id="mohair_position">
                <option value="">1</option>
                <option value="">2</option>
            </select></label><br>

        <label><b>Btm Adapter Screws</b>
            <select name="btm_adapter_screws" id="btm_adapter_screws">
                <option value="">1</option>
            </select></label><br>

        <label><b>Slide Bolt</b>
            <select name="slide_bolt" id="slide_bolt">
                <option value="">1</option>
            </select></label><br>

        <label><b>Bumper Pads</b><input type="text" name="bumper_pads" id="bumper_pads"></label><br>            

        <label><b>Silicone Spray</b><input type="text" name="silicone_spray" id="silicone_spray"></label><br>
            
            
            <button class="formbtn"
            type="submit">Submit</button>
    </div>
</form>