<h1>Create Door Order</h1>
<div>
    <form action="" method="post">
        <label><b>*Estimated Date:</b>
        <input type="date" id="date" name="estimated_date" required placeholder="MM/DD/YYYY" title="">
        </label>
        <label><b>*Estimated Cost:</b>
        <input type="text" id="cost" name="estimated_cost" required placeholder="Cost..." title="">
        </label>
        <label><b>*Estimated Quantity:</b>
        <input type="number" id="quantity" name="estimated_quantity" required placeholder="Quantity..." title="">
        </label>
        <button class="formbtn"
        type="submit">Submit</button>
    </form>
</div>