<h1>Create Rainier Order</h1>

<form action="" method="post">
    <div class="container">
        <label><b>Placement</b>
            <select name="rainier_placement" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
            </select>
        </label><br>
        <label><b>Hardware Color</b>
            <select name="rainier_color" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
                <option value="">16</option>
                <option value="">17</option>
                <option value="">18</option>
                <option value="">19</option>
            </select>
        </label><br>
        <label><b>Fabric & Color</b>
            <select name="rainier_placement" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
                <option value="">16</option>
                <option value="">17</option>
                <option value="">18</option>
                <option value="">19</option>
                <option value="">20</option>
                <option value="">21</option>
                <option value="">22</option>
                <option value="">23</option>
                <option value="">24</option>
                <option value="">25</option>
                <option value="">26</option>
                <option value="">27</option>
                <option value="">28</option>
                <option value="">29</option>
                <option value="">30</option>
                <option value="">31</option>
            </select>
        </label><br>
        <label><b>Housing Series</b>
            <select name="housing_series" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
            </select>
        </label><br>
        <label><b>Drive Side</b>
            <select name="drive_side" id="">
                <option value="">1</option>
                <option value="">2</option>
            </select>
        </label><br>
        <label><b>Hembar</b>
            <select name="hembar_name" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </label><br>
        <label><b>Pile Brush</b>
            <select name="pile_brush" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
            </select>
        </label><br>
        <label><b>Brush Location</b>
            <select name="brush_location" id="">
                <option value="">1</option>
                <option value="">2</option>
            </select>
        </label><br>
        <label><b>Zipper Color</b>
            <select name="zipper_color" id="">
                <option value="">1</option>
                <option value="">2</option>
            </select>
        </label><br>
        <label><b>Cord Length</b>
            <select name="cord_length" id="">
                <option value="">1</option>
                <option value="">2</option>
            </select>
        </label><br>
        <label><b>Mount Type</b>
            <select name="mount_type" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>
        </label><br>
        <label><b>Top Opening Width</b>
            <input type="text" name="top_opening_width" id="">
        </label><br>
        <label><b>Top Opening Width Inch</b>
            <select name="top_opening_width_inch" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select>
        </label><br>
        <label><b>Top Level</b>
            <input type="text" name="top_level" id="">
        </label><br>
        <label><b>Bottom Opening Width</b>
            <input type="text" name="bottom_opening_width" id="">
        </label><br>
        <label><b>Bottom Opening Width Inch</b>
            <select name="bottom_opening_width_inch" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select>
        </label><br>
        <label><b>Bottom Level</b>
            <input type="text" name="bottom_level" id="">
        </label><br>
        <label><b>Left Opening Height</b>
            <input type="text" name="left_opening_height" id="">
        </label><br>
        <label><b>Left Opening Height Inch</b>
            <select name="left_opening_height_inch" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select>
        </label><br>
        <label><b>Left Plumb</b>
            <input type="text" name="left_plumb" id="">
        </label><br>
        <label><b>Right Opening Height</b>
            <input type="text" name="right_opening_height" id="">
        </label><br>
        <label><b>Right Opening Height Inch</b>
            <select name="right_opening_height_inch" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
            </select>
        </label><br>
        <label><b>Right Plumb</b>
            <input type="text" name="right_plumb" id="">
        </label><br>
        <label><b>Left Build Out</b>
            <select name="left_build_out" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
            </select>
        </label><br>
        <label><b>Right Build Out</b>
            <select name="right_build_out" id="">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
            </select>
        </label><br>
        <label><b>Add Build Out</b>
            <input type="text" name="add_build_out" id="">
        </label><br>
        <label><b>Left Track</b>
            <select name="left_track" id="">
                <option value="">1</option>
                <option value="">2</option>
            </select>
        </label><br>
        <label><b>Right Track</b>
            <select name="right_track" id="">
                <option value="">1</option>
                <option value="">2</option>
            </select>
        </label><br>
        <label><b>Starting Point</b>
            <input type="text" name="starting_point" id="">
        </label><br>
        
    </div>
</form>