<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <%- messages() %>
        <% if (errors) { %>
            <ul id="errorList" class="notice error">
                <% errors.array().forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
<div>
    <form action="" method="post">
        <div class="container">
            <label><b>Choose an order type:</b>
                <select name="" id="">
                    <option value="">Window</option>
                    <option value="">Blinds</option>
                    <option value="">Screen</option>
                </select></label>
                <button class="formbtn"
                type="submit">Submit</button>
        </div>
    </form>
</div>